/*This will be basic css for entire page*/

.container{
  background-image: url('./assets/img/website-background-image-size-psd-vector-photo.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

.component-container {
  margin: 15px auto;
  background-color: rgba(101,157,174,0.15);
  height: 85vh;
  width: 75vw;
  border-radius: 10px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.component-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}